<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.urbanui.com/victory/pages/samples/login-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Jun 2019 09:43:04 GMT -->
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Victory Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/backend/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/backend/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/backend/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/backend/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/backend/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/backend/images/favicon.png" />
</head>

<body>

<%- include('./flashMessage.ejs') %>